nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;

  height: 4rem;
  background-color: rgba(250, 248, 255, 0.7);
  border-bottom: 1px solid var(--border-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  color: var(--text-primary-color);
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 1.5rem;
}

nav a {
  font-weight: 500;
}

nav a:hover {
  color: var(--primary-color);
}

.btn-group {
    display: flex;
    gap: 1rem;
}